version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: crud-frontend
    container_name: crud-frontend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "${PORT:-3000}:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    networks:
      - crud-network
    command: npm run dev

networks:
  crud-network:
    name: crud-network
    external: true
